html {
	margin: 0;
	padding: 0;
	}

body {
	margin: 0;
	padding: 0;
	background: #e0e0e0;
	font: 16px/24px verdana, geneva, sans-serif;
	}

.body {
	width: 100%;
	margin: auto;
	border: 0px solid black;
	}
#container {
	/*background: #ffffff;*/
	margin-top: 5px;
	margin-left: 40px;
	margin-right: 20px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	width: 90%;
	height: 100px;
/*
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
*/
	}

#banner {
	position: absolute;
	top: 0;
	height:60px;
	padding: 0;
	margin: auto;
	border-bottom: 0px solid black;
	color: black;
	}

#banner h1 {
	margin-top: 30px;
	padding-left: 31px;
	}

nav ul {
    list-style:none; 
    height:2em;
    padding:0; 
    margin:0; 
    margin-top: 61px;
    border: none;
}

nav li {
    float:left; 
    margin-right:0.13em; 
}

nav li a {
    display:block;
    padding:0 1em;
    text-decoration:none;
    border:0.06em solid #000;
    border-bottom:0;
    font:bold 1.2em/2em arial,geneva,helvetica,sans-serif;
    color:#fdd043;
    background-color:#461d7c;

    /* CSS 3 elements */
    webkit-border-top-right-radius:0.50em;
    -webkit-border-top-left-radius:0.50em;
    -moz-border-radius-topright:0.50em;
    -moz-border-radius-topleft:0.50em;
    border-top-right-radius:0.50em;
    border-top-left-radius:0.50em;
}

nav li a:hover {
    background:#0021a5; 
    color:#ff4a00;
    text-decoration:none;
}

nav li.active a, nav a.active {
    background-color: #0021a5;
    color: #ffa400;
}

nav li.active a:hover {
    background: #461d7c;
}


/*
#sidebar-a {
	position: fixed;
	width: 280px;
	line-height: 18px;
	padding-top: 245px;
	padding-left: 700px;
	margin-right: 10px;
	}
*/

#content {
	background: #e1d8b7;
	margin-left: 40px;
	margin-right: 20px;
	margin-top: 0px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
/*
	height: auto;
	text-align: justify;
	top: 80px;
	margin-right: 280px;
	padding: 120px 30px 0px 10px;
*/
	width: 90%;
	border: 1px solid black;
	}



#content a:link {text-decoration: none; color: #0021a5;}

#content a:visited {color: #9b1f03;}	

#content a:hover {background: #db6d16;}	

/*
#content h1 {color: #461d7c ; background: #fdd023; text-align: left;}

#content h2 {background: #461d7c ; color: #fdd023; text-align: left;}
*/

#content h1 {color: #bf9000 ; text-align: left;}

#content h2 {color: #461d7c ; text-align: left;}

#content h3 {color: #0021a5 ; text-align: left;}

#content img {
	height: 200px;
	width: 150px;
	margin-left: 20px;
}

#twocolumn {
 width: 70%;
 min-height: 240px;
}

#twocolumn img {
  float:left;
  width:180px;
  height: 225px;
  padding:5px;
  border:1px solid gray;
  margin: 5px 20px 5px 0px;
}



footer {
	clear: both;
	font: 13px/22px verdana, geneva, sans-serif;
	color: #bbbbbb;
	/*background: #dddddd;*/
	border: 0px solid black;
	padding: 0px 25px;
	margin-left: 40px;
	margin-top: 5px;
	line-height: 18px;
	width: 90%;
	/*border: 1px solid black;*/
	text-align: center;
	}

footer #altnav {
	clear: both;
	height: 16px;
	text-align: center;
	padding-top: 0;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: thin dotted;
	}

footer a {
	color: #999
	}

footer a:hover {
	color: #fff;
	text-decoration: none;
	}

#foot {
    height: 3px;
    }

@media only screen and (min-width : 150px) and (max-width : 1024px)
{
   body {
     font: 14px/20px verdana, geneva, sans-serif;
  }
  .body {
    clear: both; 
    margin: 0 auto; 
    min-width: 150px;
    max-width: 961px;
   }
  nav li {
    font: bold 1.0em/1.5em arial,geneva,helvetica,sans-serif;
  }

  #content {width: 80%; margin-top: -5px;}
  #twocolumn { width: 100%;}
  #twocolumn img {
    min-width: 60px;
    max-width: 180px; 
    min-height: 75px;
    max-height: 225px;
    padding:5px;
    border:1px solid gray;
    margin: 5px 20px 5px 0px;
  }
}
